use flake
if [ -v AGDA_NIX_LIBS] ; then 
  mkdir -p "$(pwd)/_deps"
  export AGDA_DIR="$(pwd)/_deps"
  nix run "nixpkgs#lndir" -- -silent $AGDA_NIX_LIBS $AGDA_DIR
  rm -f "$AGDA_DIR/libraries"
  find $AGDA_DIR -mindepth 1 -maxdepth 1 -type d -exec realpath {} ';' > "$AGDA_DIR/libraries"
  sed -Ei -e 's:((/[^/]+)+)/([^/]+):\1/\3/\3.agda-lib:' "$AGDA_DIR/libraries"
  find -H $AGDA_DIR -type l -name '*.agdai' -exec rm '{}' ';'
fi
